/* Variables
/* ---------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* @import url('../../../static/font/OldLondon.woff'); */



:root {

    /* Colours */
    --color-primary: #4e0899;
    --color-base: #0f0e0e;
    --color-border: #ddd;
    --color-bg: #ffffff;
    
    /* Fonts */
    --font-sans-serif: 'Noto Sans KR', sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 1.2rem;

}
