/* Variables
/* ---------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;800&display=swap');



:root {

    /* Colours */
    --color-primary: hsla(269, 90%, 32%);
    --color-primary-highlighter: hsla(269, 90%, 32%, 0.3);
    --color-base: hsl(0, 3%, 6%);
    --color-border: hsl(0, 0%, 87%);
    --color-bg: hsl(0, 0%, 100%);
    
    /* Fonts */
    --font-sans-serif: 'Noto Sans KR', sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 1.2rem;

}
